.container{
    position: absolute;
    top: 4.2rem;
    left: 23%;
    right: 30%;
    bottom: 65%; /*25rem*/
    padding: 12px;
    margin: 1px;   
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.40);    
}
.container h1{
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    /* color: rgb(3, 65, 122); */
    color: rgb(224, 222, 247);
    border-block-end: 1px solid rgb(13, 35, 235);
} 

.container p{
    /* color: rgb(54, 54, 173); */
    color: whitesmoke;
    padding: 2px;
    font-size: 25px bolder;
    display: flex;
    justify-content: space-around;
}
.dice{
    position: absolute;
    left: 47%;
    top: 90%;
    background-color: white;
    margin: 1px;
    cursor: pointer;
    border: 1px solid rgb(103, 87, 240);
}
.dice:hover {
    box-shadow: 0 0 20px hsl(253, 15%, 88%);
}
.dice:active {
    box-shadow: 0 0 20px hsl(253, 95%, 38%);
}

@media (max-width: 600px){
    .container{
        position: absolute;
        top: 4.2rem;
        height: 9rem;
        left: 10%;
        right: 10%;
        /* bottom: 78.5vh;  */
        /*43rem 77.5%*/
        padding: 12px;
        margin: 1px;   
        box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.40);    
    }
    .container h1{
        font-size: 13px;
        display: flex;
        justify-content: space-around;
        /* color: rgb(175, 205, 233); */
        color: rgb(3, 65, 122);
        border-block-end: 1px solid rgb(13, 35, 235);
    } 
    
    .container p{
        /* color: rgb(175, 205, 233); */
        color: rgb(54, 54, 173);
        padding: 2px;
        font-size: 25px bolder;
        display: flex;
        justify-content: space-around;
    }
    .dice{
        position: absolute;
        left: 45%;
        top: 90%;
        background-color: white;
        margin: 1px;
        cursor: pointer;
        border: 1px solid rgb(103, 87, 240);
    }
}