/* .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
    padding: 10px;
    background-image: "toDo.jpg";
}

h1 {
    color: black ;
    font-weight: 900;
    background-color: rgb(54, 54, 173);
    color: lavender;
    padding: 0.5rem;
    border-radius: 0.5rem;
} */

.parentTitle{
    position: relative;
}


/* .image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
} */

.title {
    position: absolute;
    font-size: 50px;
    color: whitesmoke;
    letter-spacing: 15px;
    top: 6rem;
    left: 40%;
    right: 40%;
}
.todoNumber {
    position: absolute;
    font-size: 15px;
    color: whitesmoke;
    top: 11rem;
    left: 39%;
    right: 40%;
}

@media (max-width: 650px) {
    .title {
        position: absolute;
        font-size: 40px;
        color: whitesmoke;
        letter-spacing: 7px;
        top: 0.5rem;
        left: 35%;
        right: 35%;
    }
    .todoNumber {
        position: absolute;
        font-size: 10px;
        color: whitesmoke;
        top: 4.2rem;
        left: 33%;
        right: 30%;
    }
    .image{
        background-image: url('../Assets/background.jpg');
        background-size: cover;
    }
  }