.parentTitle{
    position: relative;
}

.title {
    position: absolute;
    font-size: 50px;
    color: white;
    letter-spacing: 15px;
    top: 0; /*6rem*/
    left: 40%;
    right: 40%;
}
.todoNumber {
    position: absolute;
    font-size: 15px;
    color: whitesmoke;
    top: 20rem; /*11rem*/
    left: 39%;
    right: 40%;
}

@media (max-width: 650px) {
    .title {
        position: absolute;
        font-size: 40px;
        color: white;
        letter-spacing: 7px;
        top: 0.5rem;
        left: 35%;
        right: 35%;
    }
    .todoNumber {
        position: absolute;
        font-size: 10px;
        color: rgb(54, 54, 173);
        top: 17.5rem; /*4.2rem*/
        left: 33%;
        right: 30%;
    }
    .image{
        background-image: url('../Assets/background.jpg');
        background-size: cover;
    }
  }