.card {
    width:75%;
    margin: 1rem auto;
    padding: 1rem;
    position: absolute;
    left: 2rem;
    right: 3rem;
    top: 21rem;
}
.lists{
    border: 1px solid black ; 
    padding: 5px;
    margin: 3px;
    background-color: whitesmoke;
    border-radius: 5px;
    list-style: none;
}

.list{
    border: 1px solid lightblue;
    padding: 2px;
    width: 90%;
    display: inline-block;
    
}

.delete{
margin: 3px;
padding: 0; 
cursor: pointer;
}

.editIcon{ 
    cursor: pointer;
}

/* .clearButton {
    margin: 0.5rem;
     padding: 2px;
     background-color: rgb(54, 54, 173);
     border-radius: 0.5rem;
     width: 12%;
     color: rgb(235, 240, 210);
} */

.clearCard{
    display: flex;
    justify-content: flex-end;
}

@media(max-width: 700px){
    .card {
        width:75%;
        margin: 1rem auto;
        padding: 1rem;
        position: absolute;
        left: 3rem;
        right: 3rem;
        top: 13rem;
    }
    .lists{
        border: 1px solid black ; 
        padding: 3px;
        margin: 3px;
        background-color: whitesmoke;
        border-radius: 5px;
        list-style: none;
    }
    
    .list{
        border: 1px solid lightblue;
        padding: 3px;
        width: 80%;
        display: inline-block;
        
    }
    
    .delete{
    margin: 2px;
    padding: 0; 
    cursor: pointer;
    }
    
    .editIcon{ 
        cursor: pointer;
    }
    
    .clearCard{
        display: flex;
        justify-content: flex-end;
    }

}